<launch>
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.05" />
		<param name="frame_id" type="string" value="world" />
		<param name="sensor_model/max_range" value="2.5" />
		<remap from="cloud_in" to="/kinect/depth/points1" />
	</node>
</launch>